@charset "UTF-8";
/* footer */
.footer-wrap {
	width: 1240px;
	margin: 0 auto;
}

.d-flex {
	display: flex;
}

.justify-content-around {
	justify-content: space-around;
}

.info li a {
	display: block;
	padding: 15px 0;
	font-size: 15px;
}

.box {
	padding: 15px 0;
}